<h1><%= @id %></h1>

<h2 class="text-center mt-3 mb-2">Tus datos</h2>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow mb-4 mt-4">
                <div class="card-body">
                    <div class ="row">
                        <div class ="col-md-6">
                            <div class="md-form form-sm">
                                <label for="inputSMEx">Nombre</label>
                                <input type="text" id="nombre" class="form-control form-control-sm" value="<%=@profile_user.nombre%>" readonly>
                            </div>
                        </div>
                        <div class ="col-md-6">
                            <div class="md-form form-sm">
                                <label for="inputSMEx">Apellido</label>
                                <input type="text" id="apellido" class="form-control form-control-sm" value="<%=@profile_user.apellido%>" readonly>
                            </div>
                        </div>
                    </div>
                     <div class ="row">
                        <div class ="col-md-6">
                            <div class="md-form form-sm mt-2">
                                <label for="inputSMEx">Calle</label>
                                <input type="text" id="calle" class="form-control form-control-sm" value="<%=@profile_user.calle%>" readonly>
                            </div>
                        </div>
                        <div class ="col-md-6 mt-2">
                            <div class="md-form form-sm">
                                <label for="inputSMEx">Localidad</label>
                                <input type="text" id="localidad" class="form-control form-control-sm" value="<%=@profile_user.localidad%>"  readonly>
                            </div>
                        </div>
                    </div>
                     <div class ="row">
                        <div class ="col-md-6">
                            <div class="md-form form-sm mt-2">
                                <label for="inputSMEx">Codigo postal</label>
                                <input type="text" id="codigo_postal" class="form-control form-control-sm"  value="<%=@profile_user.codigo_postal%>" readonly>
                            </div>
                        </div>
                        <div class ="col-md-6">
                            <div class="md-form form-sm mt-2">
                                <label for="inputSMEx">Telefono</label>
                                <input type="text" id="telefono" class="form-control form-control-sm" value="<%=@profile_user.telefono%>"  readonly>
                            </div>
                        </div>
                    </div>
                     <div class ="row mt-3">
                        <div class ="col-md-5 offset-md-5">
                            <div class="md-form form-sm mt-2">
                         
                              <%= link_to "editar", edit_profile_path(params[:id]),html_options = { class: "btn btn-info btn-xs"} %>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
